header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7c5e99;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: 'fira code', Arial, Helvetica, sans-serif, serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition: transform 0.2s ease;
}

a:hover {
    transform: scale(1.1);
    color: #000;
}

a::before {
    content: '';
    background-color: #f25a70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: gray ;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0;
    transition: background-color, transform 0.5s ease;
}

#button:hover {
    transform: scale(1.08);
    background-color: #f25a70;
    color: #000;
}
