.card-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
    background-color: #fff;
    box-shadow: 10px 10px 0px #0a66c2;
}

.card-projects.-tt {
    box-shadow: 10px 10px 0px #1da1f2;
}