.main-section {
    padding-top: 50px;
    padding-bottom: 100px; 
    background-color: #662e47;
    border-bottom: 10px solid #fff;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-contatos {
    background-color: #000;
}

.main-section.-contatos .main-title.-second {
    margin-bottom: 50px;
}

.main-section.-sobre {
    background-color: #758d99;
}

.main-section.-sobre .main-title.-second {
    margin-bottom: 66px;
}