.main-action {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: 'fira code', Arial, Helvetica, sans-serif, serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition: transform 0.2s ease;
}

.main-action:hover {
    transform: scale(1.1);
    color: #000;
}

.main-action::before {
    content: '';
    background-color: #f25a70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}